* {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #4f3d2e;
}

body {
  background: url("./assets/background.png");
  background-size: cover;
}

h1 {
  text-align: center;
  font-size: 5.5rem;
}

.container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.player {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 2px;
}

.disabled {
  pointer-events: none;
  background-color: rgba(5, 5, 5, 0.527);
}

.status {
  text-align: center;
  font-weight: bold;
}

.drops {
  padding-top: 1rem;
}

.dragging {
  opacity: 60%;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.restart {
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  border-radius: 1rem;
  background-color: #cd9c61b2;
  cursor: pointer;
  box-shadow:
    0 0 0 2px #ac8d55,
    4px 4px 0 0 #000;
}

.restart:active {
  transform: scale(0.9);
  transition: 0.1s ease-in-out;
}

.cell {
  height: 50px;
  width: 50px;
  outline: 5px solid #4f402d;
  background-color: #4f402d96;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.draggable {
  cursor: move;
}

.drops {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.dragover {
  background-color: greenyellow;
}

.drop {
  display: flex;
  flex-direction: row;
}

.rotated {
  flex-direction: column;
}

.hidden {
  visibility: hidden;
  opacity: 0%;
}

.visible {
  visibility: visible;
  opacity: 100%;
  transition: 0.5s ease-in-out;
}

.miss {
  color: rgb(97, 175, 248);
  font-size: 1.2rem;
}

.hit {
  font-size: 2rem;
  color: rgb(189, 21, 55);
  background-color: black;
}

.ship {
  background-color: black;
}
